{{>header_management}}

<div>
    <h3>Concerts Management</h3>

    <a href="/admin/concert/add"><button>Add a concert</button></a>

<hr>
<div class="all-c   oncerts">
    {{#each concert}}

    <div id="{{this._id}}">
        <h2>
        
        {{#if this.nom}}
        {{this.nom}}
        {{else}}
        Untitled
        {{/if}}
        {{#if this.passe}}
        <span>(over)</span>
        {{/if}}
        </h2>
        <div>{{this.day_concert}} {{this.date_concert}} {{this.month_concert}} {{this.year_concert}}</div>
        <div>{{this.time}}</div>
        <div>{{this.adresse}}</div>
        {{#if this.price}}
        <div>{{this.price}} €</div>
        {{/if}}
        {{!-- <LinkTo href="http://www.facebook.com" target="_blank">Test</LinkTo> --}}
       
        <div><button><a href="/admin/concerts/{{this._id}}">Edit</a></button><button data-id={{this._id}} class="delete-btn">Delete</button> </div>
    </div>
    <hr>
    {{/each}}
    </div>

    {{#unless concert}}

    <div>No concerts yet !</div>
    {{/unless}}

</div>