<section class="fauxbody">
    <form method="post" action="/admin/users/edit" enctype="multipart/form-data">
        <div class="encore-une-class-wrap-concert-add">

            <div>
                <label class="denomination">Username</label>
                <input type="text" name="username" value="{{this.username}}" class="inputtamere">
            </div>

            <div>
                <label class="denomination">Email</label>
                <input type="email" name="email" value="{{this.email}}" class="inputtamere">
            </div>

            <div>
                <label class="denomination">Password</label>
                <input type="password" name="password" value="{{this.password}}" class="inputtamere">
            </div>

            <div>
                <label class="denomination">New image</label>
                <input type="file" name="profile_image" class="inputtamere2">
            </div>
            {{!--     
    <div>
        <label>Fav musicians</label>
        <select name="fav_musicians">
            {{#each musicians}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div> --}}

            <input style="display:none" name="id" value="{{this._id}}">
            <button type="submit" class="encore-un-btn-add-concert">Send</button>




        </div>
    </form>
</section>