<section class="general-admin-concert-container">
    {{>header_management}}
    <div class="all-concerts">
        <h3 class="management-title">Users Management</h3>
        <a href="/admin/users/add" class="add-concert-btn">Add a user</a>
    </div>

    {{#each allUsers}}




    <div id={{this._id}} class="user-admin-wrap">
        
        <div><a style="font:inherit" href="user/{{this._id}}">{{this.username}}</a></div>
        <div><img src="{{this.profile_image}}" class="img-user2"></div>
        <div data-id="{{this._id}}" class="btn-wraper">
            <a href="/admin/users/{{this._id}}">
                <div class="edit-user-btn">Edit</div>
            </a>
            <div class="delete-user-btn">Delete</div>
        </div>
    </div>
    {{/each}}

</section>