<main class="mainframe">

    <section class="feed left">
        <h2>Artists</h2>
        {{#each artists}}
        <article class="card">
            
            <h3>{{this.name}}</h3>
            <p>{{this.type}}</p>
            <p>
                {{#each this.instruments}}
                #{{this}}
                {{/each}}
                {{#each this.genre}}
                #{{this}}
                {{/each}}
            </p>
        </article>
        {{/each}}
    </section>

    <section class="feed center">
        <h2>Reviews</h2>
        {{#each critiques}}
        {{#if this.concert}}
        <article class="card">
            <a href="critic/{{this.concert}}"><h3>{{this.title}}</h3></a>
        </article>
        {{/if}}
        {{/each}}
    </section>

    <section class="feed right">
        <h2>Concerts</h2>
        {{#each concerts}}
        <article class="card">
            <div>{{this.nom}}</div>
            <p>{{this.date_concert}} {{this.month_concert}}</p>
            <p>{{this.price}}€</p>
        </article>
        {{/each}}
    </section>
        

</main>

{{!-- {{>nav}} --}}