<main class="mainframe">

    <section class="feedleft">
        <h2 class="class-title">Featured Artists</h2>
        <div class="wrap">
            {{#each musicians}}
            <article class="card">

                <img src="{{this.profile_image}}" class="image-feed">
                <h3 class="artist-name">{{this.name}}</h3>
                <p class="index-text">{{this.type}}</p>
                <p><a href="/musician/{{this._id}}">See more</a></p>
                <p class="index-text1">
                    {{#each this.instruments}}
                    #{{this}}
                    {{/each}}
                    {{#each this.genre}}
                    #{{this}}
                    {{/each}}
                </p>

            </article>
            {{/each}}
        </div>
    </section>

    <section class="feedcenter">
        <h2 class="class-title">Last Reviews</h2>
        {{#each critiques}}

        <article class="card-center">
            <a href="critic/{{this._id}}" text-decoration="none" class="hypertext">
                <h2>{{this.concert.nom}}</h2>

                <h3 class="critic-text">"{{this.title}}"</h3>
                <a href="/user/{{this.user._id}}" class="get-to-user">
                    <img class="img-user-feed" src="{{this.user.profile_image}}">
                    <p class="tout-petit">by {{this.user.username}} </p>
                </a>
            </a>
        </article>
        {{/each}}
    </section>

    <section class="feedright">
        <h2 class="class-title">Next concerts</h2>
        {{#each concerts}}
        <article class="card">
           
            <div class="artist-name">{{this.nom}}</div>
            <p class="index-text">{{this.date_concert}} {{this.month_concert}}</p>
            <p class="index-text">{{this.price}}€</p>
            <a href="/concert/{{this._id}}">See infos</a>
        </article>
        {{/each}}
    </section>


</main>

{{!-- {{>nav}} --}}