<main class="feed">

    <section class="left">

        <div class="container">

            {{#each artists}}
            <article>
                <h2><a href="this._id"></a>{{this.name}}</a></h2>
                {{#if this.persons}}
                <h3>New Band</h3>
                {{else}}
                <h4>New Artist</h4>
                {{/if}}
                <p>Genre :
                    {{#each this.genre}}
                    #{{this}}
                    {{/each}}
                </p>
                <p>Playing since {{this.foundation_year}}</p>
                <div>
                    {{#each this.instruments}}
                    <div>#{{this}}</div>
                    {{/each}}
                </div>
            </article>
            {{/each}}
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
        </div>



    </section>


    <section class="center">

        <div class="container">


            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>
            <article>
                <h2>Margonin à l'Olympia</h2>
                <h3>08/09/2019</h3>
                <h4>Excellent * * * * *</h4>
                <p>Le renouveau de la K-Pop à la française. On adore !!!</p>
                <p>La mère de l'artiste</p>
            </article>

        </div>
    </section>

    <section class="right">

        <div class="container">

            <article>
                <h3>Titre</h3>
                <p>Lorem ipsum dolor sit
                    amet consectetur adipisicing elit.
                    Error, ipsam aperiam!
                    Veniam, totam architecto amet quos possimus,
                    eos enim iusto ipsum iure, vitae animi temporibus
                    dolores nisi optio quam cumque?</p>
            </article>
        </div>
    </section>

</main>

{{>nav}}