<h1>Hello, {{username}} 

{{#if instruments}}
<i class="fas fa-drum"></i>
{{else}}
<i class="fas fa-music"></i>
{{/if}}

</h1>


{{!-- Instruments played --}}
{{#if instruments}}
<h2>Here are the instruments you play:</h2>
{{#each instruments}}
<div>{{this.instrument}} ({{this.years}})</div>
{{/each}}
{{/if}}

{{!-- Favorite bands --}}
{{#if fav_musicians}}
    <h2>Here are your favorite bands</h2>
    {{#each fav_musicians}}

        {{#if this._id}}
            <a href="/musician/{{this._id}}">{{this.name}}</a>
        {{else}}
            <div>{{this.name}}</div>
        {{/if}}
        
    {{/each}}
{{/if}}

{{>nav}}