<section class="general_user_container">
    {{!-- <img src="{{user.img}}" alt="Your profile picture"> --}}
    <img src="{{user.profile_image}}" alt="Your profile picture" class="img-user">
    <h1 class="user-title">{{user.username}}</h1>
    <span> <a href="/user/{{user._id}}/edit" id="user-text" class="user-text-main"> Edit
            your
            profile</a></span>

    <div class="fav-container">
        <h2>{{user.username}}'s favs</h2>
        <span style="display:hidden" class="text-color"> <a href="/user/{{user._id}}/favs" class="user-text2">
                Edit your favorite
                musicians</a></span>

        <div>
            {{#each musicians}}
            <div class="hover-user-text">
                <div class="edit-musician"><a href="/musician/{{this._id}}" class="user-text"
                        style="text-decoration: none">{{this.name}}</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="review-container">
        <h2>{{user.username}}'s reviews</h2>
        {{#each critiques}}
        <div class="hover-user-text">
            <div class="edit-musician">
                <a href="/critic/{{this._id}}" style="text-decoration: none" class="user-text">{{this.title}}</a>
            </div>
        </div>
        {{/each}}
        <a href="/user/{{user._id}}/new_review" id="user-text" class="user-text-main2">New review</a>
    </div>
    <div class="critics-container">
        <div class="edit-musician">

            {{#each musicians}}
            {{#each this.instruments}}
            #{{this}}
            {{/each}}
            {{/each}}
        </div>
    </div>
</section>