<div class="fauxbody2">
    <div>
        <img src="/imgs/Orange.jpg" alt="Your profile picture" class="img-artist">
    </div>
    <section class="user-musician-container">
        <div class="musician-title-wraper">
            <h1 class="user-title2">{{musician.name}}</h1>
            <h2 class="user-title3">{{musician.type}}</h2>
        </div>

        <div class="text-musician2">List of all concerts by {{musician.name}} : </div>

        <div>
            {{#each concert}}
            <div class="artist-list">
                <div><a href="/concert/{{this._id}}" class="text-musician">{{this.lieu}}</a>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="musician-instru">
            {{#each musician.instruments}}
            #{{this}}
            {{/each}}
        </div>
    </section>
</div>