<section class="all-container">
    <div>
        {{#each concerts}}
        <div class="all-wraper">
            <div><a href="/concert/{{this._id}}" class="all-main-info">{{this.nom}}</a>
                <p class="all-concert-element">{{this.date}}{{this.day}}{{this.month}}{{this.year}}</p>
                <p class="all-concert-element">{{this.adresse}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</section>