<section class="all-container">
    <div>
        {{#each concerts}}
        <div class="all-wraper">
            <div><a href="/concert/{{this._id}}" class="all-main-info">{{this.nom}}</a>
                <p class="all-concert-element">{{this.date_concert}} {{this.day_concert}} {{this.month_concert}} {{this.year_concert}}</p>
                <p class="all-concert-element">{{this.adresse}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</section>