<section class="fauxbody2">
    <div>
        <img src="{{musician.profile_image}}" alt="Your profile picture" class="img-artist">
    </div>
    <div class="concert-info-wraper">
        <h1><a href="/musician/{{musician._id}}" text-decoration="none" class="concert-info-text">{{concert.nom}}</a>
        </h1>

        {{#if concert.passe}}
        <div>This concert took place already{{#if concert.date}}({{concert.date}}){{/if}}. Write a review?</div>
        {{/if}}

        <div class="concert-template">
            <div>Lundi 1 septembre 2019</div>
            <div>14 rue du Machin 94140 – Alfortville</div>
            <div>20:00</div>
            <div>15 €</div>
        </div>

        {{#if isLoggedIn}}
        <button data-id="{{user.username}}" id="add_to_fav">Add to favs</button>
        {{/if}}
        <div id="very-hidden" style="visibility:hidden">Added to fav</div>
        <div>
            {{#each musician.instruments}}
            #{{this}}
            {{/each}}
        </div>
    </div>
</section>